<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.laba.hospital.dao.ISpecializationDao">

    <insert id="saveEntity" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into Specializations (name, salary) values (#{name}, #{salary})
    </insert>

    <select id="getEntityById" resultMap="SpecializationResultMap">
        select id, name, salary from Specializations where id = #{id}
    </select>

    <update id="updateEntity">
        update Specializations set name = #{name}, salary = #{salary} where id = #{id}
    </update>

    <delete id="removeEntity">
        delete from Specializations where id = #{id}
    </delete>

    <resultMap id="SpecializationResultMap" type="com.solvd.laba.hospital.model.Specialization" autoMapping="false">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="salary" column="salary"/>
    </resultMap>
</mapper>